body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  font-size: 20px;
}

.non-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-container {
  height: 20rem;
  width: 17rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  z-index: 2;
  border: solid 2px black;
  background-color: white;
  display: none;
  flex-direction: column;
}

.modal-input-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
}

.modal-input-info-container > div {
  padding: 0.5rem;
}

.modal-input-info-fields {
  display: flex;
  flex-direction: column;
}

.modal-input-info-fields > input {
  padding: 0.5rem;
  margin: 0.25rem 0.2rem;
}

.modal-btn-container {
  margin-top: 0.8rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.modal-btn-container .modal-btn {
  padding: 0.5rem 2rem;
}

.modal-btn-container .modal-confirm-btn {
  background-color: rgba(1, 172, 1, 0.87);
}

.modal-btn-container .modal-cancel-btn {
  background-color: #d10f0fc0;
}
.menu-container {
  width: 80%;
  height: 10rem;
}

.new-user {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.add-user-btn,
.chose-lg-btn {
  padding: 0.2rem;
}

.fa-user-plus {
  font-size: 1.5rem;
  border-radius: 4px;
  padding: 0.6rem 0.6rem 0.6rem 0.8rem;
  background-color: #d8d8d8;
}

.new-user span {
  padding: 0.5rem;
  font-weight: 700;
}

.choose-language {
  position: relative;
  padding: 0.5rem;
  display: flex;
}

.fa-language {
  font-size: 1.5rem;
  border-radius: 4px;
  background-color: #d8d8d8;
  padding: 0.6rem 0.9rem;
}

.choose-language span {
  padding: 0.5rem;
  font-weight: 700;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0.5rem;
  top: 3.5rem;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.6rem 0.8rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.choose-language:active .dropdown-content {
  display: block;
}

.table-container {
  display: flex;
  justify-content: center;
}
table {
  border-collapse: collapse;
  width: 80%;
  table-layout: fixed;
}

td,
th {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding: 0.6rem;
}

.being-edited > td {
  overflow: revert;
  text-overflow: revert;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  all: unset;
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 4px;
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:active {
  transform: scale(0.97);
}

.edit-btn {
  padding: 0.7rem;
  background-color: rgb(245, 226, 119);
}

.delete-btn {
  padding: 0.7rem;
  background-color: #d10f0fc0;
  margin-left: 0.4rem;
  margin-right: 0;
}

.confirm-btn {
  background-color: green;
  font-size: 1.4rem;
}

.undo-btn {
  padding: 0.7rem;
  background-color: rgb(245, 226, 119);
  margin-left: 0.4rem;
  margin-right: 0;
}

.fa {
  pointer-events: none;
}

.edit-input {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.6rem;
  width: 90%;
}

.toast-container {
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.05rem;
  font-weight: 600;
  user-select: none;
}

.toast {
  padding: 1.2rem;
  border-radius: 0.3rem;
  min-width: 16rem;
}

.toast + .toast {
  margin-top: 0.35rem;
}

.toast-warning {
  background-color: #ffd139e5;
}

.toast-success {
  background-color: #00c850e3;
}
.toast-error {
  background-color: #dc3546e5;
}
